.complete {
	text-decoration: line-through;
	color: grey;
}
body {
	padding: 30px;
	background-color: #f0e772;
	color: #e05a24;
}
.dark-mode {
	background-color: #1c0132;
	color: #9781a9;
}
.center {
	margin: auto;
	width: 50%;
}
